[submodule "external/tinyexpr"]
	path = external/tinyexpr
	url = https://github.com/codeplea/tinyexpr.git
[submodule "external/slope"]
	path = external/slope
	url = https://github.com/bytebrew/slope.git
